<form autocomplete="off">
    <div class="tab-active">
        <div class="form-group">
            <label for="charBGImage">{{localize 'SYB5E.setting.config-pc-char-bg-img.name'}}</label>
            <select name="charBGImage" id="charBGImage">
                <option value="url(../images/background/bg-green.webp) repeat">Green Image</option>
                <option value="url(../images/background/bg-brown.webp) repeat">Dark Brown Image</option>
                <option value="url(../images/background/bg-yellow.webp) repeat">Yellow Image</option>
                <option value="url(../images/background/bg-red.webp) repeat">Red Image</option>
                <option value="url(../images/background/dark_green_gold.webp) repeat">Ashe Sample</option>
                <option value="none">{{localize 'SYB5E.setting.config-color-picker.name'}}</option>
                <option value="#dad8cc">DnD5E Default</option>
            </select>
        </div>

        <div style="display:none" id="pcColPanel">
            <input type="hidden" name="charBGColour" value="{{charBGColour}}" id="charBGColour" data-dtype="String" />
            <label for="pcColPanel-ColourSelector">{{localize 'SYB5E.setting.config-pc-color-selector.name'}}</label>
            <input id="pcColPanel-ColourSelector" type="color" name="ColourSelector" value="{{charBGColour}}" data-edit="charBGColour" />
        </div>

        <hr>
        <div id="pcTextColPanel">
            <input type="hidden" name="charTextColour" value="{{charTextColour}}" id="charTextColour" data-dtype="String" />
            <label for="pcTextColPanel-ColourSelector">{{localize 'SYB5E.setting.config-pc-text-selector.name'}}</label>
            <input id="pcTextColPanel-ColourSelector" type="color" name="ColourSelector" value="{{charTextColour}}" data-edit="charTextColour" />
        </div>

        <hr>


        <div class="form-group">
            <label for="npcBGImage">{{localize 'SYB5E.setting.config-npc-char-bg-img.name'}}</label>
            <select name="npcBGImage" id="npcBGImage">
                <option value="url(../images/background/bg-red.webp) repeat">Red Image</option>
                <option value="url(../images/background/bg-green.webp) repeat">Green Image</option>
                <option value="url(../images/background/bg-brown.webp) repeat">Dark Brown Image</option>
                <option value="url(../images/background/bg-yellow.webp) repeat">Yellow Image</option>
                <option value="url(../images/background/dark_green_gold.webp) repeat">Ashe Sample</option>
                <option value="none">{{localize 'SYB5E.setting.config-color-picker.name'}}</option>
                <option value="#dad8cc">DnD5E Default</option>
            </select>

        </div>

        <div style="display:none" id="npcColPanel">
            <input type="hidden" name="npcBGColour" value="{{npcBGColour}}" id="npcBGColour" data-dtype="String" />
            <label for="npcColPanel-ColourSelector">{{localize "SYB5E.setting.config-npc-color-selector.name"}}</label>
            <input id="npcColPanel-ColourSelector" type="color" name="ColourSelector" value="{{npcBGColour}}" data-edit="npcBGColour" />
        </div>

        <hr>
        <div id="npcTextColPanel">
            <input type="hidden" name="npcTextColour" value="{{npcTextColour}}" id="npcTextColour" data-dtype="String" />
            <label for="npcTextColPanel-ColourSelector">{{localize 'SYB5E.setting.config-npc-text-selector.name'}}</label>
            <input id="npcTextColPanel-ColourSelector" type="color" name="ColourSelector" value="{{npcTextColour}}" data-edit="npcTextColour" />
        </div>

        <hr>

        <p><i style="font-size: smaller">{{localize "SYB5E.setting.config-reset-note.name"}}</i></p>

        <div class="form-group buttons-save">
            <button type="submit" name="submit"><b>{{localize "SYB5E.setting.config-submit-button.name"}}</b></button>
        </div>
        <div class="form-group ">
            <button type="button" name="dnd5eSettings"><b>{{localize "SYB5E.setting.config-default-dnd5e.name"}}</b></button>
        </div>
        <div class="form-group">
            <button type="button" name="resetPC"><b>{{localize "SYB5E.setting.config-reset-pc-config.name"}}</b></button>
            <button type="button" name="resetNPC"><b>{{localize "SYB5E.setting.config-reset-npc-config.name"}}</b></button>
        </div>
        <div class="form-group ">
            <button type="button" name="resetAll"><b>{{localize "SYB5E.setting.config-reset-all-button.name"}}</b></button>
        </div>
</form>