{{!-- Based on dnd5e/templates/actors/parts/actor-inventory.html --}}
<ol class="currency flexrow">
  <h3>
    {{localize "DND5E.Currency"}}
    <a class="currency-convert rollable" data-action="convertCurrency" title="{{localize 'DND5E.CurrencyConvert'}}">
      <i class="fas fa-coins"></i>
    </a>
  </h3>
  {{#each labels as |label denom|}}
  <label class="denomination {{denom}}">{{ label }}</label>
  {{numberInput (lookup ../currency denom) name=(concat "system.currency." denom)}}
  {{/each}}
</ol>
